@import '../../../variables';

.view_wrapper {
  flex: 1;
  position: relative;
  line-height: normal;
  margin: 0 12px;
  overflow: visible;
}

@media screen and (min-width: $desktop-view-breakpoint) {
  .view_wrapper {
    margin: 0 50px;
    max-width: calc(100vw - 240px);
  }
}

@media screen and (min-width: 1100px) {
  .view_wrapper {
    padding: 0 100px;
  }
}

.view {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}