.progress_bar_mobile_contact {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
  z-index: 3;
}

.progress_bar_wrapper {
  height: 5px;
}

.progress_bar {
  position: absolute;
  height: 100%;
  transition: linear width .11s, top 2s ease;
  background-color: white;
}
