@import '../../variables';

.side_arrows {
  overflow: hidden;
  position: relative;
  display: flex;
  min-width: 0;
}

@media screen and(min-width :$desktop-view-breakpoint) {
  .side_arrows {
    min-width: 120px;
  }
}

.arrow_major_wrapper {
  position: relative;
  width: 65%;
  max-width: 65%;
  user-select: none;
}

.arrow_major {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 100%;
  margin-left: 10px;
  max-width: calc(100% - 20px);
  user-select: none;
}

.arrow_minor_wrapper {
  position: relative;
  width: 35%;
  max-width: 35%;
  left: 10px;
  user-select: none;
}


.arrow_minor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  max-height: 100%;
  border-left: 1px solid $primary-color;
  padding-left: 5px;
  margin-left: -5px;
  user-select: none;
}
